;; -*- coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Tue Dec 16 19:37:24 2008
;; Emacs version 21.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring '("subxml" "sub" "page" "pTy" "webad" "realm" "httpcon" "httpbase" "messager" "page" "handle" "my" "istrusted" "istru" "loop" "CHJDevQuery"))
(setq register-alist nil)

;; Buffer section:
(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/CommandLineParser.cxx"
  "CommandLineParser.cxx"
  'c++-mode
  '(abbrev-mode nil)
  451
  '(9536 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/CommandLineParser.hxx"
  "CommandLineParser.hxx"
  'c++-mode
  '(abbrev-mode nil)
  917
  '(430 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/resip/dum/ServerAuthManager.cxx"
  "ServerAuthManager.cxx"
  'c++-mode
  '(abbrev-mode nil)
  9972
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/XmlContents.hxx"
  "XmlContents.hxx"
  'c++-mode
  '(abbrev-mode nil)
  125
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/resip/stack/MessageFilterRule.cxx"
  "MessageFilterRule.cxx"
  'c++-mode
  '(abbrev-mode nil)
  5014
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/MegaIsTrustedNode.hxx"
  "MegaIsTrustedNode.hxx"
  'c++-mode
  '(abbrev-mode nil)
  509
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/MegaIsTrustedNode.cxx"
  "MegaIsTrustedNode.cxx"
  'c++-mode
  '(abbrev-mode nil)
  1344
  '(292 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/ChangeLog.zj"
  "ChangeLog.zj"
  'text-mode
  '(nil)
  2186
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/resip/stack/MessageFilterRule.hxx"
  "MessageFilterRule.hxx"
  'c++-mode
  '(abbrev-mode nil)
  1661
  '(212 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/resip/dum/DialogUsageManager.hxx"
  "DialogUsageManager.hxx"
  'c++-mode
  '(abbrev-mode nil)
  2726
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/MegaPagerMessageHandler.hxx"
  "MegaPagerMessageHandler.hxx"
  'c++-mode
  '(abbrev-mode nil)
  825
  '(949 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/Makefile"
  "Makefile"
  'makefile-mode
  '(nil)
  1976
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/HttpBase.hxx"
  "HttpBase.hxx"
  'c++-mode
  '(abbrev-mode nil)
  1164
  '(236 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/HttpBase.cxx"
  "HttpBase.cxx"
  'c++-mode
  '(abbrev-mode nil)
  2152
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/repro.cxx"
  "repro.cxx"
  'c++-mode
  '(abbrev-mode nil)
  17133
  '(17076 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/MegaWebServerThread.hxx"
  "MegaWebServerThread.hxx"
  'c++-mode
  '(abbrev-mode)
  336
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/MegaWebServer.cxx"
  "MegaWebServer.cxx"
  'c++-mode
  '(abbrev-mode)
  400
  '(1284 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/MegaWebServer.hxx"
  "MegaWebServer.hxx"
  'c++-mode
  '(abbrev-mode)
  301
  '(774 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/MegaSubscriptionHandler.cxx"
  "MegaSubscriptionHandler.cxx"
  'c++-mode
  '(abbrev-mode nil)
  2183
  '(579 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/MegaSubscriptionHandler.hxx"
  "MegaSubscriptionHandler.hxx"
  'c++-mode
  '(abbrev-mode nil)
  19
  '(383 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/MegaHttpConnection.hxx"
  "MegaHttpConnection.hxx"
  'c++-mode
  '(abbrev-mode)
  662
  '(368 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/Common.hxx"
  "Common.hxx"
  'c++-mode
  '(abbrev-mode nil)
  337
  '(144 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/Common.cxx"
  "Common.cxx"
  'c++-mode
  '(abbrev-mode nil)
  3906
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/MegaPagerMessageHandler.cxx"
  "MegaPagerMessageHandler.cxx"
  'c++-mode
  '(abbrev-mode nil)
  3244
  '(3104 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/MegaHttpConnection.cxx"
  "MegaHttpConnection.cxx"
  'c++-mode
  '(abbrev-mode)
  5994
  '(6205 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/MegaWebServerThread.cxx"
  "MegaWebServerThread.cxx"
  'c++-mode
  '(abbrev-mode)
  466
  '(nil nil)
  nil
  nil
  nil)

