;; -*- coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Sun Jan  4 20:02:14 2009
;; Emacs version 21.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name "/home/zhangjun/projects/alpha/CallControlServer/TAGS")
(setq tags-table-list '("/home/zhangjun/projects/alpha/CallControlServer/TAGS"))
(setq search-ring nil)
(setq regexp-search-ring '("finis" "finished" "signalHandler" "finished" "authori" "front" "pop" "push" "profile" "dum" "cdr" "main" "\\[" "resp" "subxml" "sub"))
(setq register-alist nil)

;; Buffer section:
(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/CommandLineParser.cxx"
  "CommandLineParser.cxx"
  'c++-mode
  '(abbrev-mode nil)
  451
  '(9536 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/CommandLineParser.hxx"
  "CommandLineParser.hxx"
  'c++-mode
  '(abbrev-mode nil)
  917
  '(430 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/resip/dum/ServerAuthManager.cxx"
  "ServerAuthManager.cxx"
  'c++-mode
  '(abbrev-mode nil)
  9972
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/resip/stack/MessageFilterRule.cxx"
  "MessageFilterRule.cxx"
  'c++-mode
  '(abbrev-mode nil)
  5014
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/MegaIsTrustedNode.hxx"
  "MegaIsTrustedNode.hxx"
  'c++-mode
  '(abbrev-mode nil)
  509
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/MegaIsTrustedNode.cxx"
  "MegaIsTrustedNode.cxx"
  'c++-mode
  '(abbrev-mode nil)
  1344
  '(292 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/resip/stack/MessageFilterRule.hxx"
  "MessageFilterRule.hxx"
  'c++-mode
  '(abbrev-mode nil)
  1661
  '(212 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/HttpBase.hxx"
  "HttpBase.hxx"
  'c++-mode
  '(abbrev-mode nil)
  1164
  '(236 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/HttpBase.cxx"
  "HttpBase.cxx"
  'c++-mode
  '(abbrev-mode nil)
  2152
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/MegaSubscriptionHandler.cxx"
  "MegaSubscriptionHandler.cxx"
  'c++-mode
  '(abbrev-mode nil)
  2183
  '(579 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/SmartPtr_T.h"
  "SmartPtr_T.h"
  'c-mode
  '(abbrev-mode nil)
  1504
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/Common.hxx"
  "Common.hxx"
  'c++-mode
  '(abbrev-mode nil)
  332
  '(332 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/MegaHttpConnection.hxx"
  "MegaHttpConnection.hxx"
  'c++-mode
  '(abbrev-mode nil)
  710
  '(368 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/Common.cxx"
  "Common.cxx"
  'c++-mode
  '(abbrev-mode nil)
  3064
  '(2923 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/MegaWebServer.hxx"
  "MegaWebServer.hxx"
  'c++-mode
  '(abbrev-mode nil)
  1399
  '(646 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/monkeys/DigestAuthenticator.cxx"
  "DigestAuthenticator.cxx"
  'c++-mode
  '(abbrev-mode nil)
  3530
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/ChangeLog.zj"
  "ChangeLog.zj"
  'text-mode
  '(nil)
  2677
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  nil
  "b2bua"
  'dired-mode
  nil
  3028
  '(nil nil)
  t
  '("/home/zhangjun/projects/alpha/CallControlServer/b2bua/")
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/b2bua/README.txt"
  "README.txt"
  'text-mode
  '(nil)
  1534
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/Makefile"
  "Makefile"
  'makefile-mode
  '(nil)
  1976
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/resip/dum/InviteSessionHandler.hxx"
  "InviteSessionHandler.hxx"
  'c++-mode
  '(abbrev-mode nil)
  2311
  '(1 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/b2bua/MyInviteSessionHandler.cxx"
  "MyInviteSessionHandler.cxx"
  'c++-mode
  '(abbrev-mode nil)
  8592
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/XmlContents.cxx"
  "XmlContents.cxx"
  'c++-mode
  '(abbrev-mode nil)
  1446
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/b2bua/MyInviteSessionHandler.hxx"
  "MyInviteSessionHandler.hxx"
  'c++-mode
  '(abbrev-mode nil)
  337
  '(1 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/MegaWebServer.cxx"
  "MegaWebServer.cxx"
  'c++-mode
  '(abbrev-mode nil)
  4744
  '(4569 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/b2bua/B2BCall.hxx"
  "B2BCall.hxx"
  'c++-mode
  '(abbrev-mode nil)
  4765
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/MegaPagerMessageHandler.cxx"
  "MegaPagerMessageHandler.cxx"
  'c++-mode
  '(abbrev-mode nil)
  3790
  '(3281 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/MegaHttpConnection.cxx"
  "MegaHttpConnection.cxx"
  'c++-mode
  '(abbrev-mode nil)
  6098
  '(8684 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/b2bua/CallHandle.hxx"
  "CallHandle.hxx"
  'c++-mode
  '(abbrev-mode nil)
  3888
  '(1831 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/b2bua/B2BCall.cxx"
  "B2BCall.cxx"
  'c++-mode
  '(abbrev-mode nil)
  16422
  '(16276 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/b2bua/DefaultAuthorizationManager.cxx"
  "DefaultAuthorizationManager.cxx"
  'c++-mode
  '(abbrev-mode nil)
  981
  '(851 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/b2bua/B2BUA.cxx"
  "B2BUA.cxx"
  'c++-mode
  '(abbrev-mode nil)
  2173
  '(597 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/MegaSubscriptionHandler.hxx"
  "MegaSubscriptionHandler.hxx"
  'c++-mode
  '(abbrev-mode nil)
  274
  '(383 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/MegaPagerMessageHandler.hxx"
  "MegaPagerMessageHandler.hxx"
  'c++-mode
  '(abbrev-mode nil)
  1293
  '(949 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/XmlContents.hxx"
  "XmlContents.hxx"
  'c++-mode
  '(abbrev-mode nil)
  125
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/b2bua/B2BUA.hxx"
  "B2BUA.hxx"
  'c++-mode
  '(abbrev-mode nil)
  270
  '(1070 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/MegaWebServerThread.hxx"
  "MegaWebServerThread.hxx"
  'c++-mode
  '(abbrev-mode nil)
  504
  '(1 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/B2buaThread.hxx"
  "B2buaThread.hxx"
  'c++-mode
  '(abbrev-mode)
  262
  '(1 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/MegaWebServerThread.cxx"
  "MegaWebServerThread.cxx"
  'c++-mode
  '(abbrev-mode nil)
  689
  '(353 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/B2buaThread.cxx"
  "B2buaThread.cxx"
  'c++-mode
  '(abbrev-mode)
  166
  '(162 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/repro.cxx"
  "repro.cxx"
  'c++-mode
  '(abbrev-mode nil)
  17895
  '(7332 nil)
  nil
  nil
  nil)

