;; -*- coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Wed Feb  4 09:26:36 2009
;; Emacs version 21.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name "/home/zhangjun/projects/alpha/CallControlServer/TAGS")
(setq tags-table-list '("/home/zhangjun/projects/alpha/CallControlServer/TAGS"))
(setq search-ring nil)
(setq regexp-search-ring '("failureReason" "onrej" "on" "dodialrej" "onoffer" "doDialRejected" "DialRejected" "onRejected" "docallstop" "doready" "404" "callroute" "onoffer" "callRoute" "term" "callManager"))
(setq register-alist nil)

;; Buffer section:
(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/CommandLineParser.cxx"
  "CommandLineParser.cxx"
  'c++-mode
  '(abbrev-mode nil)
  451
  '(9536 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/CommandLineParser.hxx"
  "CommandLineParser.hxx"
  'c++-mode
  '(abbrev-mode nil)
  917
  '(430 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/MegaIsTrustedNode.hxx"
  "MegaIsTrustedNode.hxx"
  'c++-mode
  '(abbrev-mode nil)
  509
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/HttpBase.hxx"
  "HttpBase.hxx"
  'c++-mode
  '(abbrev-mode nil)
  1164
  '(236 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/HttpBase.cxx"
  "HttpBase.cxx"
  'c++-mode
  '(abbrev-mode nil)
  2152
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/SmartPtr_T.h"
  "SmartPtr_T.h"
  'c-mode
  '(abbrev-mode nil)
  1504
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/Common.cxx"
  "Common.cxx"
  'c++-mode
  '(abbrev-mode nil)
  3064
  '(2923 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/MegaWebServer.hxx"
  "MegaWebServer.hxx"
  'c++-mode
  '(abbrev-mode nil)
  1399
  '(646 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/monkeys/DigestAuthenticator.cxx"
  "DigestAuthenticator.cxx"
  'c++-mode
  '(abbrev-mode nil)
  3530
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  nil
  "b2bua"
  'dired-mode
  nil
  3028
  '(nil nil)
  t
  '("/home/zhangjun/projects/alpha/CallControlServer/b2bua/")
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/b2bua/README.txt"
  "README.txt"
  'text-mode
  '(nil)
  1534
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/XmlContents.cxx"
  "XmlContents.cxx"
  'c++-mode
  '(abbrev-mode nil)
  1446
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/MegaWebServer.cxx"
  "MegaWebServer.cxx"
  'c++-mode
  '(abbrev-mode nil)
  4744
  '(4569 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/MegaPagerMessageHandler.hxx"
  "MegaPagerMessageHandler.hxx"
  'c++-mode
  '(abbrev-mode nil)
  1293
  '(949 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/XmlContents.hxx"
  "XmlContents.hxx"
  'c++-mode
  '(abbrev-mode nil)
  125
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/MegaWebServerThread.hxx"
  "MegaWebServerThread.hxx"
  'c++-mode
  '(abbrev-mode nil)
  504
  '(1 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/MegaWebServerThread.cxx"
  "MegaWebServerThread.cxx"
  'c++-mode
  '(abbrev-mode nil)
  689
  '(353 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/B2buaThread.hxx"
  "B2buaThread.hxx"
  'c++-mode
  '(abbrev-mode nil)
  138
  '(1 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/build/Makefile.pkg"
  "Makefile.pkg"
  'text-mode
  '(nil)
  5526
  '(5454 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/rutil/Subsystem.cxx"
  "Subsystem.cxx"
  'c++-mode
  '(abbrev-mode nil)
  699
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/rutil/Subsystem.hxx"
  "Subsystem.hxx"
  'c++-mode
  '(abbrev-mode nil)
  1436
  '(1 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/rutil/Logger.hxx"
  "Logger.hxx"
  'c++-mode
  '(abbrev-mode nil)
  1753
  '(1 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/b2bua/DailyCDRHandler.cxx"
  "DailyCDRHandler.cxx"
  'c++-mode
  '(abbrev-mode nil)
  1134
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/b2bua/DummyServerRegistrationHandler.cxx"
  "DummyServerRegistrationHandler.cxx"
  'c++-mode
  '(abbrev-mode nil)
  754
  '(797 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/b2bua/DefaultAuthorizationManager.cxx"
  "DefaultAuthorizationManager.cxx"
  'c++-mode
  '(abbrev-mode nil)
  758
  '(238 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/b2bua/MyDialogSetHandler.cxx"
  "MyDialogSetHandler.cxx"
  'c++-mode
  '(abbrev-mode nil)
  567
  '(471 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/b2bua/DialogUsageManagerRecurringTask.hxx"
  "DialogUsageManagerRecurringTask.hxx"
  'c++-mode
  '(abbrev-mode nil)
  628
  '(481 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/resip/dum/ServerAuthManager.cxx"
  "ServerAuthManager.cxx"
  'c++-mode
  '(abbrev-mode nil)
  9975
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/Common.hxx"
  "Common.hxx"
  'c++-mode
  '(abbrev-mode nil)
  153
  '(332 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/MegaHttpConnection.hxx"
  "MegaHttpConnection.hxx"
  'c++-mode
  '(abbrev-mode nil)
  1047
  '(368 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/rutil/Data.hxx"
  "Data.hxx"
  'c++-mode
  '(abbrev-mode nil)
  24754
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/resip/stack/Uri.hxx"
  "Uri.hxx"
  'c++-mode
  '(abbrev-mode nil)
  4070
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/resip/dum/InviteSessionHandler.hxx"
  "InviteSessionHandler.hxx"
  'c++-mode
  '(abbrev-mode nil)
  2594
  '(2311 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/b2bua/RtpProxyUtil.cxx"
  "RtpProxyUtil.cxx"
  'c++-mode
  '(abbrev-mode nil)
  11482
  '(11793 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/MegaSubscriptionHandler.hxx"
  "MegaSubscriptionHandler.hxx"
  'c++-mode
  '(abbrev-mode nil)
  274
  '(383 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/b2bua/MediaProxy.hxx"
  "MediaProxy.hxx"
  'c++-mode
  '(abbrev-mode nil)
  1631
  '(1260 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/Makefile"
  "Makefile"
  'makefile-mode
  '(nil)
  3338
  '(374 nil)
  nil
  nil
  '((overwrite-mode)))

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/resip/stack/MessageFilterRule.cxx"
  "MessageFilterRule.cxx"
  'c++-mode
  '(abbrev-mode nil)
  3035
  '(2766 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/MegaSubscriptionHandler.cxx"
  "MegaSubscriptionHandler.cxx"
  'c++-mode
  '(abbrev-mode nil)
  1497
  '(579 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/MegaIsTrustedNode.cxx"
  "MegaIsTrustedNode.cxx"
  'c++-mode
  '(abbrev-mode nil)
  1184
  '(292 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/b2bua/Makefile"
  "Makefile<3>"
  'makefile-mode
  '(nil)
  700
  '(nil nil)
  nil
  nil
  '((overwrite-mode)))

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/resip/dum/Makefile"
  "Makefile<2>"
  'makefile-mode
  '(nil)
  1024
  '(1943 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/b2bua/obj.debug.Linux.i686/MyAppDialog.d"
  "MyAppDialog.d"
  'text-mode
  '(nil)
  7646
  '(1 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/resip/dum/ServerRegistration.cxx"
  "ServerRegistration.cxx"
  'c++-mode
  '(abbrev-mode nil)
  9052
  '(5841 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/resip/stack/StatisticsManager.hxx"
  "StatisticsManager.hxx"
  'c++-mode
  '(abbrev-mode nil)
  745
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/MegaPagerMessageHandler.cxx"
  "MegaPagerMessageHandler.cxx"
  'c++-mode
  '(abbrev-mode nil)
  3796
  '(3281 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/MegaHttpConnection.cxx"
  "MegaHttpConnection.cxx"
  'c++-mode
  '(abbrev-mode nil)
  1058
  '(6425 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/repro.cxx"
  "repro.cxx"
  'c++-mode
  '(abbrev-mode nil)
  19093
  '(4971 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/repro/megaeyes/B2buaThread.cxx"
  "B2buaThread.cxx"
  'c++-mode
  '(abbrev-mode nil)
  257
  '(44 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/b2bua/DialogUsageManagerRecurringTask.cxx"
  "DialogUsageManagerRecurringTask.cxx"
  'c++-mode
  '(abbrev-mode nil)
  1117
  '(733 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/b2bua/TaskManager.cxx"
  "TaskManager.cxx"
  'c++-mode
  '(abbrev-mode nil)
  904
  '(1191 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/b2bua/MyInviteSessionHandler.hxx"
  "MyInviteSessionHandler.hxx"
  'c++-mode
  '(abbrev-mode nil)
  336
  '(337 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/b2bua/B2BUA.hxx"
  "B2BUA.hxx"
  'c++-mode
  '(abbrev-mode nil)
  1336
  '(1365 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/b2bua/B2BUA.cxx"
  "B2BUA.cxx"
  'c++-mode
  '(abbrev-mode nil)
  3106
  '(2942 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/b2bua/B2BCallManager.hxx"
  "B2BCallManager.hxx"
  'c++-mode
  '(abbrev-mode nil)
  486
  '(284 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/b2bua/B2BCallManager.cxx"
  "B2BCallManager.cxx"
  'c++-mode
  '(abbrev-mode nil)
  2973
  '(2448 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/b2bua/MediaManager.hxx"
  "MediaManager.hxx"
  'c++-mode
  '(abbrev-mode nil)
  2997
  '(2999 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/resip/dum/megaeyes/MegaSipEntity.cxx"
  "MegaSipEntity.cxx"
  'c++-mode
  '(abbrev-mode nil)
  761
  '(607 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/b2bua/Logging.hxx"
  "Logging.hxx"
  'c++-mode
  '(abbrev-mode nil)
  1431
  '(653 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/b2bua/CallHandle.hxx"
  "CallHandle.hxx"
  'c++-mode
  '(abbrev-mode nil)
  4619
  '(5805 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/b2bua/MediaManager.cxx"
  "MediaManager.cxx"
  'c++-mode
  '(abbrev-mode nil)
  1833
  '(1806 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/ChangeLog.zj"
  "ChangeLog.zj"
  'text-mode
  '(nil)
  5032
  '(1 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/resip/dum/megaeyes/MegaSipEntity.hxx"
  "MegaSipEntity.hxx"
  'c++-mode
  '(abbrev-mode nil)
  1001
  '(1163 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/b2bua/MediaProxy.cxx"
  "MediaProxy.cxx"
  'c++-mode
  '(abbrev-mode nil)
  5009
  '(4660 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/b2bua/B2BCall.hxx"
  "B2BCall.hxx"
  'c++-mode
  '(abbrev-mode nil)
  8880
  '(6753 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/b2bua/MyInviteSessionHandler.cxx"
  "MyInviteSessionHandler.cxx"
  'c++-mode
  '(abbrev-mode nil)
  3893
  '(8475 nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/zhangjun/projects/alpha/CallControlServer/b2bua/B2BCall.cxx"
  "B2BCall.cxx"
  'c++-mode
  '(abbrev-mode nil)
  37171
  '(33537 nil)
  nil
  nil
  nil)

